* {
    margin: 0%;
}

#div-apresentacao {
    background-color: silver;
    padding: 30px;
}

.img-lucas {
    display: inline-block;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    vertical-align: auto;
    width: 30%;
}

.div-texto-apresentacao {
    max-width: 35%;
    display: inline-block;
    margin-left: 2%;
    margin-left: 50px;
    margin-bottom: 5px;
    text-align: left;
    position: relative;
    bottom: 120px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;

}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500px;
    margin-bottom: 4%;
    margin-left: 2px;

}

.div-texto-apresentacao p {
    text-align: justify;
    margin-left: 2px;
}


.img-lucas {
    width: 250px;
    border-radius: 50%;
    border: rgb(109, 106, 106) solid 3px; 
}

#texto {

}

p {
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 18px;

}


hr {
    margin: 0px;
}

#div-habilidades {
    background-color: rgb(218, 221, 223);
    margin: 0px;
    padding: 84px
 
}

h4 {
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 40px;
    position: relative;
    bottom: 55px;
    left: 40px;
    }

.img-engrenagem {
    width: 200px;
    display: inline-block;
    position: relative;
    left: 400px;
    bottom: 30px;
}


.ul {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: lighter;
    display: inline-block;
    position: relative;
    left: 200px;
    bottom: 50px;
}

li {
    margin: 20px;
}

#div-outras-infos {
    background-color: #bdab9c;
    padding-bottom: 60px;

}

.contato {
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 38px;
}

.div-whats-e-email {
    text-align: center;
    display: inline-block;

}

.div-whatsapp {
    margin-bottom: 5%;
}


.div-linkedin-e-github {
    text-align: center;
    display: inline-block;
 

}

.div-linkedin {
    margin-bottom: 5%;
}

.img-gmail {
    width: 37px;
}

.div-email p {
    display: inline-block;
    position: relative;
    bottom: 9px;
}

.img-whatsapp {
    width: 40px;
}

.div-whatsapp p {
    display: inline-block;
    position: relative;
    bottom: 15px;
}

.div-linkedin a {
    display: inline-block;
    position: relative;
    bottom: 19px;
}

.img-linkedin {
    width: 45px;
}

.div-github a {
    display: inline-block;
    position: relative;
    bottom: 16px;
}

.img-github {
    width: 40px;
}
