body {
    margin: 0px;
}

#div-apresentacao {
    background-color: silver;
    margin: 0px;
    padding-bottom: 1px;

}

.img-lucas {
}

.div-texto-apresentacao {
    max-width: 50%;
    display: inline-block;

}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500px;
}

.div-texto-apresentacao p {
    text-align: justify;
}


.img-lucas {
    width: 250px;
    border-radius: 50%;
    border: rgb(109, 106, 106) solid 3px; 
}

#texto {

}

p {
    font-family: 'Arial Narrow Bold', sans-serif;

}


hr {
    margin: 0px;
}

#div-habilidades {
    background-color: rgb(218, 221, 223);
    margin: 0px;
    padding: 1px 1px;
 
}

.img-engrenagem {
    width: 200px;
}


h4 {
font-family: 'Open Sans';
font-weight: 500;
font-size: 38px;
}

li {
    margin: 20px;
}
.ul-1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: lighter;
}

.ul-2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: lighter;
}

#div-outras-infos {
    background-color: #bdab9c;
    margin: 0px;
    padding: 1px 1px;
}

.contato {
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 38px;
}


.img-github {
    width: 40px;
}
